h1{color: grey;
      font-family:
      Quantify;text-align:center; 
      text-shadow: 3px 2px white
}

h2{color: black;
      font-family: Quantify;
      text-align: left;
}

h3{color: white;
      font-family: Quantify;
      text-align: center;
}

h4{color: black;
      font-family: Quantify;
      text-align: center;
}

h5{color: black;
      font-family: Quantify;
      text-align: left;
}

h6{color: orange;
      font-family: Verdana;
      text-align: left;
}

ol{font-family: Quantify;
       font-size: large
      }

ul{font-family: Quantify;
       font-size: large

      }



li    {color: white;
      margin-left: 30 ;
      padding-left:30; 
      font-family: Arial; 
      font-size: small;
      }

body {padding-top: 10px;}

label {font-size: large; 
      font-family: Arial
      }

div {background-attachment: fixed; 
      }

.encabezado {
  background-attachment: fixed;
}

#container {
width: 300px;
margin: 0 auto;
}
.ex2 img{
height: 250px;
width: 250px;
margin: 15px 0;
-webkit-transition: all 1s ease;
-moz-transition: all 1s ease;
-ms-transition: all 1s ease;
transition: all 1s ease;
}
.ex2 img:hover {
height: 300px;
width: 400px;
margin-left: -50px;
}

#ex4 {
width: 730px;
height: 133px;
line-height: 0px;
color: transparent; font-size: 50px;
font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
font-weight: 300;
text-transform: uppercase;
-webkit-transition: all 0.5s ease;
-moz-transition: all 0.5s ease;
-ms-transition: all 0.5s ease;
transition: all 0.5s ease;
}
#ex4:hover {
line-height: 133px;
color: #575858;
}
#ex4 img{ float: left;
margin: 0 15px;
}

#ex33 {
    opacity: 0.5;
    filter: alpha(opacity=50); 
}